
    <form v-on:submit.prevent="guaradarALQULER" id="frmALQUILER" data-accion="nuevo" data-idALQUILER='' method="GET">

        <div class="card text-white bg-secondary mb-4" style="max-width: 26rem;">
            <div class="card-header">
                 ALQUILER
    
                <button type="button" class="close" id="close-ALQUILER" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <div class="row p-2">
                    <div class="col-4">
                        FECHA DE PRESTAMO
                    </div>
                    <div class="col-8">
                        <input type="text" v-model="ALQUILER.FECHA" id="txtFECHAALQUILER" placeholder="0000-0000" class="form-control">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-4">
                        FECHA DE DEVOLUCION
                    </div>
                    <div class="col-8">
                        <input type="text" v-model="ALQUILER.DEVOLUCION" id="txtDEVOLUCIONALQUILER" placeholder="0000-0000" class="form-control">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-4">
                        VALOR
                    </div>
                    <div class="col-8">
                        <input type="text" v-model="ALQUILER.VALOR" id="txtVALORALQUILER" placeholder="0000-0000" class="form-control">
                    </div>
                </div>
                <div class="row p-2"> 
                    <div class="col-12 text-center">
                        <input id="btnGuardarALQUILER" type="submit" class="btn btn-outline-primary text-white" value="Guardar">
                        <input type="reset" class="btn btn-outline-warning text-white" value="Limpiar">
                        <input v-on:click="buscarALQUILER" type="button" class="btn btn-outline-success mostrar-buscar-ALQUILER text-white" data-modulo="ALQUILER" data-form="buscar-ALQUILER" value="Buscar">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-12 text-center">
                        <div class="alert alert-success" role="alert">
                            {{ ALQUILER.msg }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form> 

    <script src="public/vistas/ALQUILER/ALQUILER.js"></script>
