
    <form method="POST" id="frm-buscar-ALQUILER">
        <div class="card text-white bg-secondary mb-4" style="max-width: 50rem;">
            <div class="car-header">
                BUSQUEDA DE ALQUILER
    
                <button type="button" id="btn-close-buscar-ALQUILER" v-on:click="cerrarBuscarALQUILER" class="close close-ALQUILER" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <table id="tbl-buscar-ALQUILER" class="table-striped table-secondary table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="5">
                                <input type="text" v-model="valor" v-on:keyup="buscarALQUILER" id="txtBuscarALQUILER" placeholder="fecha o devolucion" class="form-control">
                            </th>
                        </tr>
                        <tr>
                            <th>FECHA DE PRESTAMO</th>
                            <th>FECHA DE DEVOLUCION</th>
                            <th>VALOR</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr v-for="ALQUILER in data_ALQUILER" :key="ALQUILER.id_ALQUILER">
                            <td>{{ ALQUILER.FECHA }}</td>
                            <td>{{ ALQUILER.DEVOLUCION }}</td>
                            <td>{{ ALQUILER.VALOR }}</td>
                            <td>
                                <input v-on:click="verificacionEliminacion(ALQUILER.id_ALQUILER)" type="button" class="btn btn-outline-danger text-white" value="Delete">
                                <input v-on:click="modificarALQUILER(ALQUILER)" type="button" class="btn btn-outline-warning text-white" value="Update">
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    </div>

    <script src="public/vistas/ALQUILER/BUSCADOR-ALQUILER.js"></script>
