
     <form v-on:submit.prevent="guardarCLIENTES" class="modulos" data-accion="nuevo" data-idCLIENTES='' id="frm-CLIENTES" method="post">
        <div class="card text-white bg-danger mb-4" style="max-width: 26rem;">
            <div class="card-header">
                REGISTRO CLIENTES
            
                <button type="button" id="close-CLIENTES" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <div class="row p-2">
                    <div class="col-4">
                        NOMBRE
                    </div>
                    <div class="col-6">
                        <input type="text" v-model="CLIENTES.NOMBRE" placeholder="AAAA" class="form-control">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-4">
                        DIRECICON
                    </div>
                    <div class="col-8">
                        <input type="text" v-model="CLIENES.DIRECCION" placeholder="AAA AAA" class="form-control">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-4">
                        TELEFONO
                    </div>
                    <div class="col-8">
                        <input type="text" v-model="CLIENTES.TELEFONO" placeholder="0000-0000" class="form-control">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-4">
                        DUI
                    </div>
                    <div class="col-8">
                        <input type="text" v-model="CLIENTES.DUI" placeholder="0000-0000" class="form-control">
                    </div>
                </div>
                <div class="row p-2"> 
                    <div class="col-12 text-center">
                        <input id="btnGuardarCLIENTES" type="submit" class="btn btn-outline-primary text-white" value="Guardar">
                        <input type="reset" class="btn btn-outline-warning text-white" value="Limpiar">
                        <input v-on:click="buscarCLIENTES" type="button" class="btn btn-outline-success mostrar-buscar-CLIENTES text-white" data-modulo="CLIENTES" data-form="mostrar-buscar-CLIENTES" value="Buscar">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-12 text-center">
                        <div class="alert alert-success" role="alert">
                            {{ CLIENTES.msg }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="public/vistas/CLIENTES/CLIENTES.js"></script>